@import-normalize;

.App{
  background-color:#5e6448;
  width: 100vw;
  height: 100vh;
}



.header {
  padding: 10px;
  width: 100vw;
  height: 8vh;
  background-color: #262626;
  color: #FF7F11;
  display: flex;
  align-items:center;
  /* margin-left: */
}

.Main{
  background-color: crimson;
    display: flex;
    width: 100vw;
    height: 92vh;
}


.Class-Choice{
  background-color: aqua;
  height: auto;
  width: auto;
}
.Selection{
  background-color: blueviolet;
  height: auto;
  width: auto;
}
.title-list{
font-style:oblique;
color:rgb(97, 20, 220);
background-color: lavender;
width:100px;
}


.Title-Output{}
.Statblock{
  background-color: chartreuse;
  height: auto;
  width: auto;
}
.Titles{}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
